@{
    ViewData["Title"] = "Home Page";
}

<main class="indexjeje">


<div class="nombre-logeado">
  @{
        if(ViewBag.estaLogeado==true){
            <img class="foto-perfil" src="@ViewBag.fotoPerfil">
            <p>Hola, @ViewBag.usuario.Nick</p>
            
            <a class="boton-logout" href='@Url.Action("logout","Home")'>Log out</a>
            
    } else{
<div class="botones-reg-log">
    <a href='@Url.Action("login","Home")'>Login</a>
 <a href='@Url.Action("register","Home")'>Register</a>
  
</div>
    }
  }
</div>
  


</main>